{% extends "layout.html" %}

{% block title %}
Welcome toggle
{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">Welcome to TweetFlow created by Arpana Mishra</h1>

<a class="btn btn-primary mb-4" href="{% url 'toogle_create' %}">
    Create a tweet
</a>

<div class="container row gap-3">

    {% for toogle in toogles %}

        <div class="card" style="width: 18rem;">
            
        
            <img src="{{ toogle.photo.url}}" class="card-img-top" alt="image">

            <div class="card-body">
                <h5 class="card-title">{{toogle.user.username}}</h5>
                <p class="card-text">{{ toogle.text}}</p>
                {% if toogle.user == user %}
                <a href="{% url 'toogle_edit' toogle.id %}" class="btn btn-primary">
                    Edit
                </a>

                <a href="{% url 'toogle_delete' toogle.id %}" class="btn btn-danger">
                    Delete
                </a>
                {% endif %}
            </div>

        </div>

    {% endfor %}

</div>



{% endblock %}
